body,
ul,
li,
a {
    margin: 0%;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;

}

nav ul li {
    margin-right: 20px;
}